body {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: black;
  background-image: url('/ques-img.jpg');
  padding: 10px;
  box-sizing: border-box;
  outline-color: white;
}
:root {
  --glass-bg: rgba(12, 12, 12, 0.2);
  --white-outline: white;
  --dark-outline: black;
  --white-text-color: white; 
  --dark-text-color: black;
}
.dm {
  background-color: var(--glass-bg);
  color: var(--white-text-color);
  outline-color: var(--white-outline);
}

.lm {
  background-color: white;
  color: var(--dark-text-color);
  outline-color: var(--dark-outline); 
}
* {
  color: white;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 450px;
  max-width: 97%;
  height: fit-content;
  outline: 4px solid var(--white-outline);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--glass-bg);
  backdrop-filter: blur(20px);
  position: relative;
}

.top-text {
  margin: 0px;
  font-weight: 800;
  margin-bottom: 20px;
  width: 100%;
  font-size: 28px;
  text-align: center;
}
.top {
  width: 100%;
  outline: 2px solid var(--white-outline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 20px;
  font-size: 13px;
}

.top p {
  margin: 0px;
  font-size: 14.5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
input {
  padding: 15px 15px;
  min-width: 50px;
  border-radius: 30px;
  outline: 2px solid var(--white-outline);
  background-color: transparent;
  box-sizing: border-box;
  font-size: 14px;
  border: 0px;
}

.note {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  width: 100%;
  text-align: center;
}

.container {
  outline: 2px solid var(--white-outline);
  border-radius: 30px;
  height: fit-content;
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.guesses {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 5px;
  outline: 2px solid var(--white-outline);
  display: flex;
  place-content: center;
}
.container p {
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
label {
  font-size: 12px;
}
select {
  padding: 2px 5px;
}
.middle {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
}

#ans {
  display: none;
  color: white;
}


.elements {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.error {
  margin: 0px;
  font-size: 11px;
  width: 100%;
  text-align: center;
  font-style: italic;
}
.buttons {
  display: flex;
  align-items: center;
  outline: 2px solid var(--white-outline);
  gap: 20px;
  border-radius: 30px;
  padding: 9px 10px;
  box-sizing: border-box;
}
.fun-btn {
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  outline: 2px solid var(--white-outline);
  background-color: transparent;
  cursor: pointer;
}

.container p {
  font-size: 13.5px;
}
.show-guesses {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 13.5px;
  display: none;
  margin-top: 15px;
}

.show-guesses span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}
.guess-elem {
  font-size: 9px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: 0px;
  outline: 2px solid var(--white-outline);
}

.info {
  background-color: white;
  width: 70%;
  max-width: 400px;
  padding: 30px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: none;
}

.confirm-text {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  width: fit-content;
  color: black;
}
.tip-confirm-box {
  background-color: white;
  width: 70%;
  max-width: 400px;
  padding: 30px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: none;
}
.tip-confirm-box p {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.tip-confirm-box button {
  color: black;
}

.disp-level {
  color: black;
  margin: 0px;
}
#disp-level {
  margin: 0px;
  color: black;
}

button {
  background-color: #f3f7fe;
  outline: 2px solid var(--dark-outline);
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: rgba(220, 220, 220, 0.6);
}

.confirm-clear {
  background-color: white;
  width: fit-content;
  padding: 30px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.confirm-clear p {
  color: black;
  text-align: center;
}

.confirm-clear div {
  display: flex;
  align-items: center;
  gap: 20px;
}
#active {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  outline: 1.5px solid white;
}

.game-rule {
  display: flex;
  max-width: 450px;
  border-radius: 10px;
  flex-direction: column;
  position: fixed;
  width: 90%;
  height: fit-content;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 20px;
  padding-left: 0px;
}
.game-rule h2 {
  color: black;
  margin: 0px;
  font-weight: bolder;
  text-align: center;
}
.game-rule ul {
  margin-top: 2px;
}
.game-rule li {
  color: black;
  margin-top: 5px;
}
.game-rule div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.game-rule span {
  color: black;
  outline: 2px solid black;
  padding: 10px 50px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 20px;
}
.game-rule span:hover {
  background-color: rgba(220, 220, 220, 0.6);
}
footer {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  height: fit-content;
}
footer p {
  text-align: center;
  font-weight: bold;
  color: orange;
}

.clear-function {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  outline: none;
  background-color: rgba(0,0,0,0.3);
  border-radius: 100%;
}